.main-footer {
  text-align: center;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  a {
    font-size: 24px;
  }
  nav {
    margin-bottom: 30px;
  }
}

.main-footer {}

.main-footer__item {
  position: relative;
  margin-right: 35px;
  &:not(:first-child)::before {
    content: '';
    position: absolute;
    top: 12px;
    left: -19px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #9aa5a9;
  }
}

.main-footer__copyright {
  font-size: 18px;
}



@media screen and (max-width: 320px) {
  .main-footer__nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .main-footer nav,
  .main-footer__copyright {
    margin: 0 auto;
  }
  .main-footer__item {
    margin-right: 0;
    margin-bottom: 35px;
    &:not(:first-child)::before {
      top: -22px;
      left: 50%;
    }
  }
}
