div,
body,
html,
p,
input,
label,
form,
button,
figure,
figcapture,
nav,
ul,
li,
h1,
h2,
h3,
h4,
main,
header,
aside,
section,
footer {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button:focus,
input:focus {
  outline: -webkit-focus-ring-color auto 5px;
  outline: none;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}
/* li {
  display: inline-block;
  font-size: 0;
} 
figure {
  font-size: 0;
}*/
@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: Futura;
  src: url(../fonts/FuturisCyrillic.woff) format('woff'), url(../fonts/futuris-cyrillic.woff2) format('woff2');
}
body {
  font-family: Futura;
  padding: 80px 0 50px 0;
  min-height: 100vh;
  color: #fff;
  margin: 0 auto;
  background-color: #96c5d6;
}
.portfolio__header-group {
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 60px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: baseline;
      align-items: baseline;
}
.portfolio__title {
  font-size: 56px;
  color: #eaeaea;
}
.portfolio__content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: start;
      justify-content: flex-start;
  -ms-flex-align: center;
      align-items: center;
  padding: 30px;
  max-width: 1260px;
  margin: 0 auto;
}
.project {
  height: 240px;
  max-width: 1200px;
  margin-bottom: 30px;
  position: relative;
  border: 20px solid #eaeaea;
  transition-duration: 0.2s;
}
.project:hover {
  filter: brightness(1);
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
}
.project:hover .project__image {
  filter: brightness(0.8);
}
.project__image {
  height: 100%;
  width: auto;
  overflow: hidden;
  filter: brightness(0.6);
}
.project__pic {
  position: relative;
  top: -420px;
  overflow: hidden;
}
.project--sedona .project__pic {
  top: -20px;
}
.project__button {
  position: absolute;
  bottom: 50%;
  left: 50%;
  margin-left: -75px;
  margin-bottom: -15px;
  cursor: pointer;
  width: 200px;
  padding: 15px 0;
  border: none;
  font-weight: 600;
  color: #f0eee8;
  background-color: #BF9A92;
  transition-duration: 0.2s;
}
.project__button::before,
.project__button::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 190px;
  height: 40px;
  border: 2px solid #BF9A92;
  transition-timing-function: linear;
  transition-duration: 0.2s;
}
.project__button::after {
  border: 3px dashed #BF9A92;
}
.project__button:hover::before {
  transform: translate(-10px, -10px);
}
.project__button:hover::after {
  transform: translate(10px, 10px);
}
.project__button:hover {
  box-shadow: 0 0 25px 7px rgba(0, 0, 0, 0.4);
}
.detail--closed {
  display: none;
}
.detail--opened {
  display: block;
}
.detail {
  padding: 30px;
  background-color: #fff;
  font-size: 16px;
  color: #395578;
  max-width: 900px;
  margin: 200px auto 0;
  position: fixed;
  top: 250px;
  z-index: 2000;
}
.detail::before {
  content: '';
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  /* right: 0;
    bottom: 0; */
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1900;
}
/*

.portfolio__button,
.detail__button {
  display: block;
  position: absolute;
  bottom: 70px;
  left: 50%;
  margin-left: -83px;
  width: 195px;
  height: 50px;
  padding: 20px;
  font-size: 14px;
  line-height: 1em;
  text-align: center;
  border: none;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 190px;
    height: 43px;
    border: 2px solid #fff;
  }
  &:hover::before {
    transform: translate(-10px, -10px);
    border: 2px solid #fff;
    transition-timing-function: linear;
    transition-duration: .2s;
  }
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 190px;
    height: 43px;
  }
  &:hover::after {
    border: 3px dashed #fff;
    transform: translate(10px, 10px);
    transition-timing-function: linear;
    transition-duration: .2s;
  }
}

.portfolio__button--detail {
  background-color: #fff;
  color: #395578;
}

.detail {
  padding: 30px;
  background-color: #fff;
  font-size: 16px;
  color: #395578;
  line-height: 1em;
}

.detail__btns {
  margin: 0 auto;
}

.detail__button {
  background-color: #395578;
  position: static;
  display: inline-block;
  color: #fff;
  margin-right: 15px;
  padding: 10px 0;
  width: 200px;
  line-height: 3em;
}

.detail__button--git {
  background-size: 7%;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  background-image: url('../img/github-white.png');
}

.portfolio__button--page {
  background-image: url('');
} */
