div,
body,
html,
p,
input,
label,
form,
button,
figure,
figcapture,
nav,
ul,
li,
h1,
h2,
h3,
h4,
main,
header,
aside,
section,
footer,
picture {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button:focus,
input:focus {
  outline: -webkit-focus-ring-color auto 5px;
  outline: none;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}
/* li {
  display: inline-block;
  font-size: 0;
} 
figure {
  font-size: 0;
}*/
@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: Futura;
  src: url(../fonts/FuturisCyrillic.woff) format('woff'), url(../fonts/futuris-cyrillic.woff2) format('woff2');
}
body {
  font-family: Futura;
  padding: 80px 0 0 0;
  min-height: 100vh;
  color: #fafafa;
  margin: 0 auto;
  background-color: #96c5d6;
}
.container {
  max-width: 1060px;
  min-width: 320px;
  margin: 0 auto;
  padding: 30px;
}
.portfolio__header-group {
  margin-bottom: 60px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: baseline;
      align-items: baseline;
}
.portfolio__title {
  font-size: 56px;
}
.portfolio__contacts a {
  transition-duration: 0.3s;
}
.portfolio__contacts a:active {
  color: #7D97A1;
}
.portfolio__contacts a:hover {
  letter-spacing: 1px;
}
.portfolio__content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: start;
      justify-content: flex-start;
  -ms-flex-align: center;
      align-items: center;
  padding: 30px;
}
.portfolio__footer {
  text-align: center;
}
@media screen and (max-width: 600px) {
  .portfolio__header-group {
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: start;
        justify-content: flex-start;
    -ms-flex-align: start;
        align-items: flex-start;
  }
  .portfolio__title {
    margin-bottom: 20px;
  }
  .portfolio__contacts a {
    transition: none;
  }
  .portfolio__contacts a:active {
    color: #7D97A1;
  }
  .portfolio__contacts a:hover {
    letter-spacing: normal;
  }
}
@media screen and (max-width: 480px) {
  .container {
    padding: 20px;
  }
  .portfolio__content.container {
    padding: 0;
    padding-bottom: 20px;
  }
}
.project {
  width: 100%;
  margin-bottom: 50px;
}
.project__title {
  font-size: 32px;
  font-weight: 100;
  margin-bottom: 10px;
}
.project__wrapper {
  height: 240px;
  padding: 20px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  background-color: #eaeaea;
  transition-duration: 0.2s;
}
.project__wrapper:hover {
  filter: brightness(1);
  box-shadow: 0 0 15px -2px rgba(0, 0, 0, 0.4);
}
.project__wrapper:hover .project__image {
  filter: brightness(0.7);
}
.project__image-link {
  display: inline-block;
  width: 77%;
  margin-right: 20px;
}
.project__image {
  display: block;
  height: 100%;
  width: 100%;
  filter: brightness(0.6);
  overflow: hidden;
}
.project__image img,
.project__image source {
  position: relative;
  bottom: 0;
}
.project--sedona .project__pic {
  top: -20px;
}
.project__pic--sigxak {
  top: -60px;
}
@media screen and (max-width: 1080px) {
  .project__pic--idustrial {
    top: -110px;
  }
}
@media screen and (max-width: 780px) {
  .project__pic--idustrial {
    top: -70px;
  }
  .project__pic--sigxak {
    top: -10px;
  }
  .project__pic--sedona {
    top: 0;
  }
}
.project__button {
  display: inline-block;
  cursor: pointer;
  width: 21.2%;
  padding: 15px 0;
  border: none;
  font-weight: 600;
  color: #f0eee8;
  background-color: #BF9A92;
  transition-duration: 0.4s;
}
.project__button:hover {
  box-shadow: 0 0 15px -3px rgba(0, 0, 0, 0.4);
}
@media screen and (max-width: 600px) {
  .project__wrapper {
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: start;
        justify-content: flex-start;
    -ms-flex-align: stretch;
        align-items: stretch;
    height: auto;
  }
  .project__image-link {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
  .project__button {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .project__title {
    margin-left: 20px;
  }
}
.detail--closed {
  display: none;
}
.detail--opened {
  display: block;
}
.detail__overlay {
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  z-index: 2;
}
@keyframes open-details {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.detail--opened .detail__overlay,
.detail--opened .detail__wrap {
  opacity: 1;
  animation-name: open-details;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}
.detail__wrap {
  padding: 30px 50px;
  background-color: #fff;
  font-size: 16px;
  color: #395578;
  width: 700px;
  position: fixed;
  top: 130px;
  left: 50%;
  margin-left: -350px;
  z-index: 3;
  text-align: center;
}
.detail__close-btn {
  display: block;
  position: absolute;
  top: 15px;
  right: 25px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.detail__close-btn::before,
.detail__close-btn::after {
  content: '';
  position: absolute;
  top: 0;
  right: 15px;
  width: 1px;
  height: 100%;
  transform: rotate(45deg);
  background-color: #7D97A1;
}
.detail__close-btn::after {
  transform: rotate(-45deg);
}
.detail__close-btn:hover::after,
.detail__close-btn:hover::before {
  background-color: #55646a;
}
.detail__title {
  color: #7D97A1;
  margin-bottom: 20px;
}
.detail__text {
  font-size: 18px;
  text-align: left;
  margin-bottom: 10px;
  color: #7D97A1;
}
.detail__text:last-of-type {
  margin-bottom: 30px;
}
.detail__link {
  color: #A68639;
  text-decoration: underline;
}
.detail__link:hover {
  text-decoration: none;
}
.detail__link:active,
.detail__link:visited {
  color: #A64C39;
}
.detail__button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  width: 180px;
  padding: 15px 0;
  border: none;
  font-weight: 600;
  color: #f0eee8;
  background-color: #BF9A92;
  transition-duration: 0.2s;
  margin-right: 15px;
  z-index: 4;
}
.detail__button::before,
.detail__button::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 170px;
  height: 40px;
  border: 2px solid #BF9A92;
  transition-timing-function: linear;
  transition-duration: 0.2s;
  z-index: 3;
  opacity: 0.5;
}
.detail__button::after {
  bottom: 0;
  right: 0;
  border: 3px dashed #BF9A92;
}
.detail__button:hover::before {
  transform: translate(-7px, -7px);
}
.detail__button:hover::after {
  transform: translate(10px, 7px);
}
.detail__button:active {
  background-color: #9b665a;
}
@media screen and (max-width: 720px) {
  .detail__wrap {
    margin-left: 0;
    margin-top: 20px;
    max-width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    overflow: scroll;
  }
  .detail__close-btn {
    width: 35px;
    height: 35px;
  }
  .detail__button {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
  .detail__button::before,
  .detail__button::after {
    transition: none;
    display: none;
  }
  .detail__text {
    font-size: 1.5em;
  }
}
@media screen and (max-width: 320px) {
  .detail__wrap {
    padding: 30px 15px;
  }
}
