div,
body,
html,
p,
input,
label,
form,
button,
figure,
figcapture,
nav,
ul,
li,
h1,
h2,
h3,
h4,
main,
header,
aside,
section,
footer {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button:focus,
input:focus {
  outline: -webkit-focus-ring-color auto 5px;
  outline: none;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}
li {
  display: inline-block;
  font-size: 0;
}
figure {
  font-size: 0;
}
@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'Futura';
  src: url(../fonts/FuturisCyrillic.woff) format('woff'), url(../fonts/futuris-cyrillic.woff2) format('woff2');
}
body {
  font-family: Futura;
  padding: 80px 0 50px 0;
  min-height: 100vh;
  color: #fff;
  margin: 0 auto;
  background-color: #121212;
}
.portfolio__header-group {
  padding-left: 55px;
  padding-right: 55px;
  margin-bottom: 60px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: baseline;
      align-items: baseline;
}
.portfolio__contacts {
  /* margin-left: auto;
  margin-bottom: 30px; */
}
.portfolio__title {
  font-size: 56px;
  color: #eaeaea;
}
.portfolio__content {
  /* padding-left: 55px;
  padding-right: 55px; */
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: stretch;
      justify-content: stretch;
  -ms-flex-align: stretch;
      align-items: stretch;
  font-size: 0;
  line-height: 0;
}
.portfolio__project {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: start;
      justify-content: flex-start;
  -ms-flex-align: start;
      align-items: flex-start;
  margin-bottom: 0;
  position: relative;
  z-index: 2;
  width: 100%;
  height: 200px;
  /* &::after {
    content: '';
    display: block;
    width: 400px;
    height: 250px;
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 15px;
    border: 3px solid #64666a;
    border-radius: 10px; }*/
}
.porfolio__image {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  margin-bottom: 0;
  /* border: 2px solid #94939d;
  border-radius: 7px; */
  filter: brightness(0.3);
}
.porfolio__image::-webkit-scrollbar {
  width: 0;
}
.porfolio__image::-moz-scrollbar {
  width: 0;
}
.porfolio__image:hover {
  filter: brightness(1);
}
.portfolio__pic {
  width: 100%;
  overflow-y: scroll;
  z-index: 2;
  position: relative;
  top: -190px;
}
.porfolio__capture {
  text-align: center;
  position: relative;
  z-index: 3;
  bottom: 110px;
  font-size: 54px;
  font-weight: 700;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.htmlacademy::before {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  top: 0;
  left: -25px;
  background-image: url('../img/htmlacademy.svg');
  background-repeat: no-repeat;
  background-position: ;
  background-size: cover;
}
.htmlacademy::before:hover {
  content: 'Макет из рассылки htmlacademy';
}
.portfolio__btns {
  -ms-flex-item-align: center;
      align-self: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  position: absolute;
  bottom: 15px;
  z-index: 3;
}
.portfolio__button {
  display: inline-block;
  vertical-align: middle;
  height: 15px;
  width: 15px;
  padding: 10px;
  border-radius: 10px;
  color: #0b166c;
  font-size: 18px;
  line-height: 1em;
  text-align: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.portfolio__button:first-child {
  margin-right: 20px;
}
.portfolio__button--git {
  background-image: url('../img/github-white.png');
}
.portfolio__button--page {
  background-image: url('');
}
