body,
div,
canvas,
input {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 700px;
  border: 2px solid lightgrey;
  border-radius: 7px;
  padding: 30px;
  text-align: center;
  font-size: 20px;
  font-family: sans-serif;
  padding: 20px;
}

.task {
  margin-bottom: 170px;
}

.grafic-show {
  font-size: 0;
  position: relative;
  text-align: left;
}

.grafic-show__pic {
  width: 100%;
}

.arrow {
  position: absolute;
  z-index: 3;
  background-image: url('arrow.svg');
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 100%;
  text-align: left;
  bottom: 45px;
  height: 70px;
}

.input-num {
  border: 1px solid lightgrey;
  width: 20px;
  height: 30px;
  padding: 3px;
  text-align: center;
  position: absolute;
  font-size: 19px;
}
.item--sum .input-num {
  width: 30px;
  position: relative;
 // bottom: 5px;
}
