.ui-loader {
    width: 100%;
    height: 100%;
    position: relative;
    &__pic {
        width: 30px;
        height: 30px;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        animation-duration: 0.5s;
    }
}
