body {
  font-family: Futura;
  padding: 80px 0 50px 0;
  min-height: 100vh;
  color: #fff;
  margin: 0 auto;
  background-color: #96c5d6;
}

.portfolio__header-group {
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.portfolio__title {
  font-size: 56px;
  color: #eaeaea;
}

.portfolio__content {
  //position: relative;
  //overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  padding: 30px;
  max-width: 1200px;
  margin: 0 auto;
}

.project {
  max-width: 1200px;
  margin-bottom: 50px;
}

.project__wrapper {
  display: flex;
  flex-direction: row;
  padding: 20px;
  background-color: #eaeaea;
  height: 240px;
  // border: 20px solid #eaeaea;
  //padding: 30px;
  //
  //filter: brightness(0.3);
  transition-duration: 0.2s;
  &:hover {
    filter: brightness(1);
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    .project__image {
      filter: brightness(0.8);
    }
  }
}

.project__title {
  font-size: 32px;
  font-weight: 100;
  color: #faf6f6;
  //font-family: serif;
  margin-bottom: 20px;
}

.project__link {
  display: inline-block;
}

.project__image {
  height: 100%;
  width: 800px;
  margin-right: 20px;
  overflow: hidden;
  filter: brightness(0.6);
}

.project__pic {
  position: relative;
  top: -260px;
  overflow: hidden;
}

.project--sedona {
  .project__pic {
    top: -20px;
  }
}

.project__button {
  //position: relative;
  display: inline-block;
  cursor: pointer;
  width: 200px;
  padding: 15px 0;
  border: none;
  font-weight: 600;
  color: #f0eee8;
  background-color: #BF9A92;
  transition-duration: 0.2s;
  /*&::before,
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 190px;
    height: 40px;
    border: 2px solid #BF9A92;
    transition-timing-function: linear;
    transition-duration: 0.2s;
  }
  &::after {
    border: 3px dashed #BF9A92;
  }
  &:hover::before {
    transform: translate(-10px, -10px);
  }
  &:hover::after {
    transform: translate(10px, 10px);
  }*/
  &:hover {
    box-shadow: 0 0 25px 7px rgba(0, 0, 0, 0.4);
  }
}

.detail--closed {
  display: none;
}

.detail--opened {
  display: block;
}

.detail__overlay {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 2;
}

.detail__wrap {
  padding: 30px;
  background-color: #fff;
  font-size: 16px;
  color: #395578;
  width: 700px;
  position: fixed;
  top: 200px;
  left: 50%;
  margin-left: -350px;
  z-index: 3;
}

.detail__close-btn {
  display: block;
  position: absolute;
    top: 15px;
    right: 25px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  
  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 20px;
    transform: rotate(45deg);
    background-color: #000;
  }
  &::after {
    transform: rotate(-45deg);
  }
}


/*

.portfolio__button,
.detail__button {
  display: block;
  position: absolute;
  bottom: 70px;
  left: 50%;
  margin-left: -83px;
  width: 195px;
  height: 50px;
  padding: 20px;
  font-size: 14px;
  line-height: 1em;
  text-align: center;
  border: none;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 190px;
    height: 43px;
    border: 2px solid #fff;
  }
  &:hover::before {
    transform: translate(-10px, -10px);
    border: 2px solid #fff;
    transition-timing-function: linear;
    transition-duration: .2s;
  }
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 190px;
    height: 43px;
  }
  &:hover::after {
    border: 3px dashed #fff;
    transform: translate(10px, 10px);
    transition-timing-function: linear;
    transition-duration: .2s;
  }
}

.portfolio__button--detail {
  background-color: #fff;
  color: #395578;
}

.detail {
  padding: 30px;
  background-color: #fff;
  font-size: 16px;
  color: #395578;
  line-height: 1em;
}

.detail__btns {
  margin: 0 auto;
}

.detail__button {
  background-color: #395578;
  position: static;
  display: inline-block;
  color: #fff;
  margin-right: 15px;
  padding: 10px 0;
  width: 200px;
  line-height: 3em;
}

.detail__button--git {
  background-size: 7%;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  background-image: url('../img/github-white.png');
}

.portfolio__button--page {
  background-image: url('');
} */
