.promo {
  display: grid;
  grid-template-columns: 57% 42.6%;
  grid-column-gap: 5px;
  grid-template-rows: 27% 21% 15% 29%;
  grid-row-gap: 5px;
  margin-bottom: 25px;
}

.promo__item {
  position: relative;
  font-size: 0;
  overflow: hidden;
  height: 100%;
  font-family: Aparajita, serif;
  &:hover {
    .promo-item__btns {
      display: block;}
      .promo__pic {
        filter: hue-rotate(-25deg) brightness(0.5);
      }
      .promo-item__info {
        display: none;
      }
    }
}

.promo__pic {
  overflow: hidden;
  width: 100%;
  -webkit-height: 100%;
}

.promo__item--left-top {
  grid-column: 1 / span 1;
  grid-row: 1 / span 2;
}

.promo__item--right-top {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
}

.promo__item--right-mid {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  &:hover {
    .promo__pic {
      filter: hue-rotate(-25deg) brightness(0.5);
    }
    .promo-item__info {
      display: none;
    }
  }
}

.promo__item--search {
  grid-column: 1 / span 1;
  grid-row: 3 / span 1;
  background-color: #f0626e;
  padding: 50px;
}

.promo__item--left-bottom {
  grid-column: 1 / span 1;
  grid-row: 4 / span 1;
  .promo-item__btns {
    display: block;
  }
  &:hover {
    .promo__pic {
      filter: none;
    }
  }
}

.promo__item--right-bottom {
  grid-column: 2 / span 1;
  grid-row: 3 / span 2;
  &:hover {
    .promo__pic {
      filter: none;
    }
    .promo-item__info {
      display: block;
    }
  }
}

.promo__search-input {
  width: 485px;
  padding: 30px 20px;
  font-size: 16px;
  margin-right: 20px;
}

.promo-item__search-label {
  display: inline-block;
  position: relative;
  top: 15px;
  width: 53px;
  height: 45px;
  background-image: url('../img/icon-search.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0;
  cursor: pointer;
}

.promo-item__info {
  position: absolute;
  bottom: 10px;
  width: 265px;
}

.promo-item__part {
  padding: 20px 15px 20px 15px;
  margin-bottom: 2px;
  background-color: rgba(54, 42, 79, 0.8);
}

.promo-item__title {
  font-size: 25px;
  
  color: #f0626e;
  text-transform: uppercase;
}

.promo-item__desc {
  color: #fff;
  font-size: 13px;
  font-family: Lato, sans-serif;
}

.promo-item__accent {
  padding: 15px;
  background-color: #f0626e;
  color: #fff;
  font-size: 16px;
  
  text-transform: uppercase;
}

.promo__item--left-top {
  .promo-item__info {
    width: 348px;
  }
  .promo-item__title {
    font-size: 48px;
  }
}

.promo-item__btns {
  display: none;
  position: absolute;
  bottom: 0;
  right: 0;
  .action-btns__button {
    
  }
}

.promo__item--right-bottom {
  .promo-item__info {
    width: 395px;
    left: 100%;
    bottom: 0;
    transform-origin: 0 100%;
    transform: rotate(-90deg);
  }
  .promo-item__title {
    color: #fff;
  }
}

.promo-item__more-btn {
  position: absolute;
  right: 15px;
  bottom: 0;
  width: 85px;
  height: 95px;
  background-color: #f0626e;
  &::before {
    content: '';
    position: absolute;
    right: 100%;
    top: 0;
    border: 10px solid #c6535d;
    border-top-color: transparent;
    border-left-color: transparent;
  }
  span {
    display: block;
    position: absolute;
    top: 20px;
    left: 15px;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: #fff;
    &::before {
      content: '';
      position: absolute;
      top: 23px;
      left: 15px;
      border: 12px solid #f0626e;
      border-top-width: 12px;
      border-bottom-color: transparent;
      border-right-color: transparent;
      border-left-color: transparent;
    }
    &::after {
      content: '';
      position: absolute;
      top: 21px;
      left: 15px;
      border: 12px solid #fff;
      border-top-width: 12px;
      border-bottom-color: transparent;
      border-right-color: transparent;
      border-left-color: transparent;
      
    }
  }
}
@media screen and (max-width: 320px) {
  .promo {
    .flex-column();
  }
}