@import "./variables.scss";

* {
    box-sizing: border-box;
    border: none;
    ::-webkit-scrollbar {
        width: 7px;
    }

    ::-webkit-scrollbar-track {
        background-color: transparent;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 8px;
        background-color: rgba(255, 255, 255, 0.3);
    }
}

body {
    margin: 0;
    font-family: Lato, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

button:focus {
    outline: none;
}

.app {
    width: 100%;
    min-height: 100vh;
    height: 100vh;
    overflow: hidden;
    padding: 52px 24px 64px 24px;
    background-image: url("../assets/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: $main-color;
    color: #fff;
    font-size: 16px;
}

.container {
    max-width: 562px;
    height: 100%;
    margin: 0 auto;
}

@media screen and (max-width: $beakpoint-mobile) {
    .app {
        padding-top: 32px;
        padding-bottom: 76px;
        font-size: 14px;
    }
}

@media screen and (max-height: 500px) {
    .app {
        height: auto;
    }
}
