div,
body,
html,
p,
input,
label,
form,
button,
nav,
ul,
li,
h1,
h2,
h3,
h4,
main,
header,
aside,
section,
footer,
span {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button:focus,
input:focus {
  outline: -webkit-focus-ring-color auto 5px;
  outline: none;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}
li {
  display: inline-block;
  font-size: 0;
}
li a {
  font-size: 16px;
}
@font-face {
  src: url('https://fonts.googleapis.com/css?family=Lato');
  font-family: Lato;
  font-weight: normal;
}
body {
  font-family: Lato;
  font-size: 14px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  max-width: 1170px;
  margin: 0 auto;
}
.main-header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: end;
      align-items: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.main-header__small-nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  width: 100%;
  margin-bottom: 15px;
}
.main-header__copyright {
  width: 170px;
  height: 100px;
  margin-bottom: 15px;
}
.main-header__profile-info {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: end;
      justify-content: flex-end;
  -ms-flex-positive: 1;
      flex-grow: 1;
  background-color: #f6f6f6;
  margin-bottom: 15px;
}
.profile-info__item a {
  display: inline-block;
  vertical-align: top;
  padding: 35px 20px;
}
.main-header__copyright-text {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.8);
  position: relative;
  z-index: 2;
  top: -57px;
  letter-spacing: 1px;
  width: 100%;
  padding: 5px;
  text-align: center;
}
.main-header__menu {
  width: 100%;
  margin-bottom: 15px;
}
.main-header__list {
  width: 100%;
  background-color: #05aecc;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 90px;
}
.small-nav {
  -ms-flex-pack: end;
      justify-content: flex-end;
}
.small-nav__item {
  display: inline-block;
  vertical-align: top;
  margin-right: 30px;
  font-size: 16px;
}
.small-nav__item:last-child {
  margin-right: 0;
}
.menu-item {
  font-size: 16px;
  padding: 25px;
  color: #fff;
}
.menu-item__list {
  display: none;
}
