div,
body,
html,
p,
input,
label,
form,
button,
nav,
ul,
li,
h1,
h2,
h3,
h4,
main,
header,
aside,
section,
footer,
span {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button:focus,
input:focus {
  outline: -webkit-focus-ring-color auto 5px;
  outline: none;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
  font-size: 0;
}
li {
  display: inline-block;
  font-size: 16px;
}
li a {
  font-size: 16px;
}
@font-face {
  src: url('https://fonts.googleapis.com/css?family=Lato');
  font-family: Lato;
  font-weight: normal;
}
@font-face {
  src: url('../fonts/Aparajita.ttf') format('ttf');
  font-family: Aparajita;
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  max-width: 1170px;
  margin: 0 auto;
  padding: 13px 0 230px;
}
.main-header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: end;
      align-items: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.main-header__small-nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  width: 100%;
}
.main-header__copyright {
  width: 170px;
  height: 100px;
  margin-bottom: 15px;
}
.main-header__profile-info {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: end;
      justify-content: flex-end;
  -ms-flex-positive: 1;
      flex-grow: 1;
  background-color: #f6f6f6;
  margin-bottom: 15px;
}
.main-header__copyright-text {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.8);
  position: relative;
  z-index: 2;
  top: -57px;
  letter-spacing: 1px;
  width: 100%;
  padding: 5px;
  text-align: center;
}
.main-header__menu {
  width: 100%;
  margin-bottom: 15px;
}
.main-header__list {
  width: 100%;
  background-color: #05aecc;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 90px;
}
.small-nav {
  -ms-flex-pack: end;
      justify-content: flex-end;
}
.small-nav__item {
  display: inline-block;
  vertical-align: top;
  margin-right: 30px;
  font-size: 16px;
}
.small-nav__item:last-child {
  margin-right: 0;
}
.small-nav__item:hover a {
  color: #f0626e;
  text-decoration: underline;
}
.profile-info__item a {
  display: inline-block;
  vertical-align: top;
  padding: 35px 0;
  background-color: #05aecc;
  color: #fff;
  margin-right: 5px;
  width: 115px;
  text-align: center;
}
.profile-info__item a:hover {
  background-color: #f0626e;
}
.profile-info__item:last-child a {
  margin-right: 0;
}
.profile-info__item--accent a {
  background-color: #f0626e;
}
.profile-info__item--whishlist a {
  padding-right: 30px;
  background-image: url('../img/icon-gift.png');
  background-repeat: no-repeat;
  background-position: 87% 35px;
  background-size: 20px;
  width: 140px;
  text-align: center;
}
.profile-info__item--cart a {
  padding-right: 30px;
  background-image: url('../img/icon-cart.png');
  background-repeat: no-repeat;
  background-position: 70% 37px;
  background-size: 25px 20px;
  width: 140px;
  text-align: center;
}
.menu-item {
  font-size: 16px;
  padding: 25px;
  color: #fff;
  position: relative;
  cursor: pointer;
}
.menu-item:hover {
  background-color: #fff;
  color: #f0626e;
}
.menu-item__list {
  display: none;
  width: 260px;
  position: absolute;
  z-index: 2;
  top: 105%;
  left: 0;
  padding: 10px 20px 15px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.33);
}
.menu-item__list--open {
  display: block;
}
.menu-item__sub-item {
  padding: 15px 0;
  border-bottom: 1px solid #cacaca;
}
.menu-item__sub-item::after {
  content: '';
  display: table;
  clear: both;
}
.menu-item__pic {
  float: left;
  margin-right: 12px;
}
.menu-item__title {
  font-size: 16px;
  line-height: 16px;
  font-weight: normal;
  color: #f0626e;
  margin-bottom: 4px;
}
.menu-item__desc {
  font-size: 14px;
  line-height: 14px;
  color: #454545;
  margin-bottom: 7px;
}
.menu-item__btn {
  display: inline-block;
  color: #fff;
  font-size: 12px;
  background-color: #05aecc;
  width: 115px;
  padding: 4px 0;
  text-align: center;
}
.menu-item__more {
  display: inline-block;
  margin-top: 10px;
}
.promo {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 57% 42.6%;
      grid-template-columns: 57% 42.6%;
  grid-column-gap: 5px;
  -ms-grid-rows: 27% 21% 15% 29%;
      grid-template-rows: 27% 21% 15% 29%;
  grid-row-gap: 5px;
  margin-bottom: 25px;
}
.promo__item {
  position: relative;
  font-size: 0;
  overflow: hidden;
  height: 100%;
  font-family: Aparajita, serif;
}
.promo__item:hover .promo-item__btns {
  display: block;
}
.promo__item:hover .promo__pic {
  filter: hue-rotate(-25deg) brightness(0.5);
}
.promo__item:hover .promo-item__info {
  display: none;
}
.promo__pic {
  overflow: hidden;
  width: 100%;
  -webkit-height: 100%;
}
.promo__item--left-top {
  -ms-grid-column-span: 1;
  -ms-grid-column: 1;
      grid-column: 1 / span 1;
  -ms-grid-row-span: 2;
  -ms-grid-row: 1;
      grid-row: 1 / span 2;
}
.promo__item--right-top {
  -ms-grid-column-span: 1;
  -ms-grid-column: 2;
      grid-column: 2 / span 1;
  -ms-grid-row-span: 1;
  -ms-grid-row: 1;
      grid-row: 1 / span 1;
}
.promo__item--right-mid {
  -ms-grid-column-span: 1;
  -ms-grid-column: 2;
      grid-column: 2 / span 1;
  -ms-grid-row-span: 1;
  -ms-grid-row: 2;
      grid-row: 2 / span 1;
}
.promo__item--right-mid:hover .promo__pic {
  filter: hue-rotate(-25deg) brightness(0.5);
}
.promo__item--right-mid:hover .promo-item__info {
  display: none;
}
.promo__item--search {
  -ms-grid-column-span: 1;
  -ms-grid-column: 1;
      grid-column: 1 / span 1;
  -ms-grid-row-span: 1;
  -ms-grid-row: 3;
      grid-row: 3 / span 1;
  background-color: #f0626e;
  padding: 50px;
}
.promo__item--left-bottom {
  -ms-grid-column-span: 1;
  -ms-grid-column: 1;
      grid-column: 1 / span 1;
  -ms-grid-row-span: 1;
  -ms-grid-row: 4;
      grid-row: 4 / span 1;
}
.promo__item--left-bottom .promo-item__btns {
  display: block;
}
.promo__item--left-bottom:hover .promo__pic {
  filter: none;
}
.promo__item--right-bottom {
  -ms-grid-column-span: 1;
  -ms-grid-column: 2;
      grid-column: 2 / span 1;
  -ms-grid-row-span: 2;
  -ms-grid-row: 3;
      grid-row: 3 / span 2;
}
.promo__item--right-bottom:hover .promo__pic {
  filter: none;
}
.promo__item--right-bottom:hover .promo-item__info {
  display: block;
}
.promo__search-input {
  width: 485px;
  padding: 30px 20px;
  font-size: 16px;
  margin-right: 20px;
}
.promo-item__search-label {
  display: inline-block;
  position: relative;
  top: 15px;
  width: 53px;
  height: 45px;
  background-image: url('../img/icon-search.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0;
  cursor: pointer;
}
.promo-item__info {
  position: absolute;
  bottom: 10px;
  width: 265px;
}
.promo-item__part {
  padding: 20px 15px 20px 15px;
  margin-bottom: 2px;
  background-color: rgba(54, 42, 79, 0.8);
}
.promo-item__title {
  font-size: 25px;
  color: #f0626e;
  text-transform: uppercase;
}
.promo-item__desc {
  color: #fff;
  font-size: 13px;
  font-family: Lato, sans-serif;
}
.promo-item__accent {
  padding: 15px;
  background-color: #f0626e;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
}
.promo__item--left-top .promo-item__info {
  width: 348px;
}
.promo__item--left-top .promo-item__title {
  font-size: 48px;
}
.promo-item__btns {
  display: none;
  position: absolute;
  bottom: 0;
  right: 0;
}
.promo__item--right-bottom .promo-item__info {
  width: 395px;
  left: 100%;
  bottom: 0;
  transform-origin: 0 100%;
  transform: rotate(-90deg);
}
.promo__item--right-bottom .promo-item__title {
  color: #fff;
}
.promo-item__more-btn {
  position: absolute;
  right: 15px;
  bottom: 0;
  width: 85px;
  height: 95px;
  background-color: #f0626e;
}
.promo-item__more-btn::before {
  content: '';
  position: absolute;
  right: 100%;
  top: 0;
  border: 10px solid #c6535d;
  border-top-color: transparent;
  border-left-color: transparent;
}
.promo-item__more-btn span {
  display: block;
  position: absolute;
  top: 20px;
  left: 15px;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: #fff;
}
.promo-item__more-btn span::before {
  content: '';
  position: absolute;
  top: 23px;
  left: 15px;
  border: 12px solid #f0626e;
  border-top-width: 12px;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-left-color: transparent;
}
.promo-item__more-btn span::after {
  content: '';
  position: absolute;
  top: 21px;
  left: 15px;
  border: 12px solid #fff;
  border-top-width: 12px;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-left-color: transparent;
}
@media screen and (max-width: 320px) {
  .promo {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
  }
}
.action-btns {
  font-size: 0;
  padding: 0;
  margin-right: 0;
  height: 55px;
  color: #fff;
  bottom: 25px;
}
.action-btns__desc {
  display: none;
}
.action-btns__button {
  display: inline-block;
  vertical-align: top;
  font-family: Lato;
  font-size: 16px;
  box-sizing: border-box;
  width: 50px;
  height: 55px;
  background-size: 23px 23px;
  background-repeat: no-repeat;
  background-position: center;
}
.action-btns__name {
  width: auto;
  padding: 15px 10px;
  background-color: #05aecc;
  font-size: 16px;
}
.action-btns__gift {
  background-image: url('../img/icon-gift.png');
  background-color: #00a1be;
}
.action-btns__cart {
  background-image: url('../img/icon-cart.png');
  background-size: 25px 23px;
  background-color: #f0626e;
  position: relative;
}
.action-btns__cart:hover .action-btns__desc {
  display: inline-block;
  position: absolute;
  top: -43%;
  left: 50%;
  margin-left: -47px;
  padding: 3px 15px;
  font-size: 12px;
  text-transform: none;
  white-space: nowrap;
  color: #000;
  border-radius: 5px;
  border: 1px solid #f0626e;
  background-color: #fff;
}
.action-btns__cart:hover .action-btns__desc::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -18px;
  margin-left: -6px;
  border: 9px solid #fff;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
}
.action-btns__cart:hover .action-btns__desc::before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -20px;
  margin-left: -7px;
  border: 10px solid #f0626e;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
}
.action-btns__price {
  background-color: #434343;
  font-size: 18px;
  padding: 15px 10px;
  width: auto;
}
.action-btns--crafts {
  bottom: 0;
  text-transform: uppercase;
}
.action-btns--crafts .action-btns__name {
  background-color: rgba(94, 80, 100, 0.8);
  font-size: 25px;
  padding: 15px 50px;
}
.action-btns--featured .action-btns__button {
  width: 20%;
  height: 56px;
  background-size: 16px 16px;
  border-right: 1px solid #dddddd;
  background-color: transparent;
}
.action-btns--featured .action-btns__button:last-child {
  border-right: none;
}
.action-btns--featured .action-btns__turn {
  background-image: url('../img/icon-arrow.svg');
}
.action-btns--featured .action-btns__gift {
  background-image: url('../img/icon-gift-grey.png');
}
.action-btns--featured .action-btns__cart {
  background-image: url('../img/icon-cart-grey.png');
}
.action-btns--featured .action-btns__price {
  background-color: #f0626e;
}
.action-btns--featured .action-btns__price {
  width: 40%;
  padding-bottom: 11px;
  color: #fff;
  text-align: center;
}
.main-content__item {
  margin-bottom: 30px;
}
.main-content__row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: stretch;
      align-items: stretch;
}
.main-content__header {
  border-bottom: 1px solid #b9b9b9;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: end;
      align-items: flex-end;
  margin-bottom: 30px;
  font-size: 0;
}
.main-content__title {
  padding-bottom: 10px;
  margin-left: 30px;
  font-size: 30px;
  font-weight: normal;
  color: #00a1be;
  position: relative;
}
.main-content__title::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #f0626e;
}
.main-content__arrow {
  display: inline-block;
  vertical-align: top;
  width: 70px;
  height: 80px;
  background-color: #3c3c3c;
  position: relative;
}
.main-content__arrow--left {
  margin-right: 1px;
}
.main-content__arrow--left::before,
.main-content__arrow--left::after {
  content: '';
  position: absolute;
  top: 22px;
  left: 35px;
  width: 1px;
  height: 22px;
  background-color: #fff;
  transform: rotate(45deg);
}
.main-content__arrow--left::after {
  top: 38px;
  transform: rotate(-45deg);
}
.main-content__arrow--right::before,
.main-content__arrow--right::after {
  content: '';
  position: absolute;
  top: 22px;
  left: 35px;
  width: 1px;
  height: 22px;
  background-color: #fff;
  transform: rotate(-45deg);
}
.main-content__arrow--right::after {
  top: 38px;
  transform: rotate(45deg);
}
.main-content__item--about {
  border-bottom: 1px solid #b9b9b9;
}
.main-content__item--new .main-content__arrow:hover {
  background-color: #05aecc;
}
.main-content__item--featured .main-content__arrow:hover {
  background-color: #f0626e;
}
.new__item {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  justyfy-content: center;
}
.new__item .action-btns {
  display: none;
}
.new__item:hover .action-btns {
  display: table;
  vertical-align: middle;
  position: absolute;
  top: 40%;
  left: 50%;
  margin-left: -140px;
  z-index: 2;
}
.new__item:hover::after {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
  background-color: #303a5e;
  opacity: 0.7;
}
.featured__item {
  position: relative;
}
.featured__info {
  background-color: #fff;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.featured__line {
  padding: 15px;
  border-bottom: 1px solid #dddddd;
}
.featured__title {
  font-size: 18px;
}
.featured__desc {
  font-size: 13px;
  color: #f0626e;
}
.featured__item {
  border: 1px solid #dddddd;
}
.featured__btn {
  border-right: 1px solid #dddddd;
}
.featured__btn:last-child {
  border-right: none;
}
.featured__note {
  position: absolute;
  top: 10px;
  left: 0;
  padding-top: 10px;
  padding-bottom: 12px;
  text-align: center;
  width: 80px;
  font-size: 14px;
  color: #fff;
}
.featured__note--discount {
  background-color: #f0626e;
}
.featured__note--new {
  background-color: #05aecc;
}
.featured__item--new .action-btns__price {
  background-color: #05aecc;
}
.about__info {
  padding: 0 27px;
  margin-bottom: 40px;
  line-height: 26px;
  color: #676767;
}
.about__item {
  padding: 80px 40px 90px 210px;
  width: 370px;
  color: #fff;
  font-size: 30px;
  background-repeat: no-repeat;
  background-size: 144px 182px;
  background-position: 40px 40px;
  margin-bottom: 30px;
}
.about__item--choose {
  background-color: #434343;
  background-image: url('../img/chose-product.png');
}
.about__item--reg {
  background-image: url('../img/register.png');
  background-color: #05aecc;
}
.about__item--checkout {
  background-image: url('../img/checkout.png');
  background-color: #f0626e;
}
.about__btn {
  display: block;
  margin: 0 auto;
  padding: 20px 0;
  width: 650px;
  color: #fff;
  text-align: center;
  font-size: 27px;
  background-color: #05aecc;
  border: none;
  cursor: pointer;
  margin-bottom: 30px;
}
.main-footer__menu {
  padding: 55px 0 50px 30px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: start;
      align-items: flex-start;
  border-bottom: 1px solid #b9b9b9;
}
.main-footer__title {
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 50px;
  text-transform: uppercase;
  font-weight: normal;
}
.main-footer__item--social-btns .main-footer__title {
  margin-bottom: 20px;
}
.main-footer__list-item {
  display: list-item;
  line-height: 30px;
}
.main-footer__list-item a {
  color: #676767;
}
.main-footer__input {
  padding: 30px 0;
  width: 380px;
  text-align: center;
  border: 1px solid #b9b9b9;
  text-transform: uppercase;
}
.main-footer__btn {
  display: block;
  padding: 20px 0;
  width: 100%;
  color: #fff;
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
  background-color: #05aecc;
  border: none;
  cursor: pointer;
  margin-bottom: 30px;
}
.main-footer__social-btn {
  font-size: 0;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  display: inline-block;
  vertical-align: top;
  width: 55px;
  height: 55px;
  margin-right: 10px;
}
.main-footer__social-btn:last-child {
  margin-right: 0;
}
.main-footer__social-btn--rss {
  background-image: url(../img/icon-rss.svg);
}
.main-footer__social-btn--fb {
  background-image: url(../img/icon-facebook.svg);
}
.main-footer__social-btn--tw {
  background-image: url(../img/icon-twitter.svg);
}
.main-footer__social-btn--flickr {
  background-image: url(../img/icon-flickr.jpg);
  border: 1px solid #dbdbdb;
}
.main-footer__social-btn--google {
  background-image: url(../img/icon-google.svg);
}
.main-footer__copyright {
  padding: 25px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: baseline;
      align-items: baseline;
  font-size: 14px;
  line-height: 30px;
  color: #676767;
  border-bottom: 1px solid #b9b9b9;
}
.main-footer__copyright-design-author {
  color: #f0626e;
}
