.skills {
  &__item {
    display: flex;
    align-items: flex-end;
    padding: 2px 4px 6px;
    border-bottom: 1px solid #dbe1e3;
    &:nth-child(odd) {
      background-color: #eff3f5;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__title {
    width: 170px;
    //margin-right: auto;
  }
  &__block {
    width: 60px;
    display: inline-flex;
    flex-direction: column;
    text-align: center;
  }
  &__block-title {
    font-size: 12px;
  }
}
