.skills {
  &__item {
    display: flex;
    align-items: stretch;
    gap: 5px;
    padding: 2px 4px 2px;
    border-bottom: 1px solid #dbe1e3;

    &:nth-child(odd) {
      background-color: #eff3f5;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__title {
    width: 170px;
    align-self: center;
    //margin-right: auto;
  }

  &__block {
    width: 60px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    border: 1px solid #dbe1e3;
    border-radius: 4px;
    background-color: #fff;

    &_mod {
      border-width: 2px;
      border-color: #e39b9b;
    }
  }

  &__block-title {
    padding: 2px 4px;

    background-color: #e1effd;
    font-size: 12px;
  }
}
