* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
button {
  border: none;
  background-color: transparent;
}
a {
  text-decoration: none;
  color: inherit;
}
h1,
h2,
h3 {
  font-weight: normal;
}
.map__region:hover polygon {
  fill: #DA84B7;
}
.map__region--active polygon {
  fill: #DA84B7;
}
.map__region--s:hover path,
.map__region--active.map__region--s path {
  fill: #DA84B7;
}
.map__region--s:hover text,
.map__region--active.map__region--s text {
  color: #DA84B7;
}
text {
  font-family: Open Sans Regular, sans-serif;
  font-size: 8.2px;
  text-transform: uppercase;
}
body {
  background-color: #F1F1F1;
  font-family: Open Sans, sans-serif;
  padding-top: 50px;
  width: 100%;
  overflow-x: hidden;
}
.container {
  width: 1024px;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
}
.main::before {
  content: '';
  width: 30%;
  height: 100vh;
  position: absolute;
  top: -45px;
  right: 100%;
  background-image: url('../img/bg-round-left.svg');
  background-size: cover;
  background-position: 100% 100%;
  background-repeat: no-repeat;
}
.main::after {
  content: '';
  width: 30%;
  height: 100vh;
  position: absolute;
  top: -45px;
  left: 100%;
  background-image: url('../img/bg-round-right.svg');
  background-size: cover;
  background-position: 0 0;
  background-repeat: no-repeat;
}
.main {
  text-align: center;
  position: relative;
}
.main__title {
  font-size: 36px;
  margin-bottom: 55px;
}
.main__content {
  display: none;
}
.main__content--active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main__nav {
  margin-bottom: 20px;
}
.nav {
  list-style: none;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
.nav__item {
  display: inline-block;
  border-bottom: 5px solid #9DB1CF;
  width: 300px;
  color: #000;
  cursor: pointer;
}
.nav__item--active {
  color: #CC3128;
  border-color: #E05A67;
}
.map__region {
  cursor: pointer;
}
.map__region--active {
  cursor: default;
}
.description {
  display: none;
}
.description--active {
  display: block;
  width: 300px;
  font-size: 0;
  font-family: Open Sans, sans-serif;
}
.description--active::after {
  content: '';
  display: table;
  clear: both;
}
.description__item {
  margin-bottom: 20px;
  border-radius: 15px;
  overflow: hidden;
  background-color: #fff;
  max-height: 152px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.description__item:last-child {
  margin-bottom: 0;
}
.description__item--heimenkirch {
  background-image: url('../Links/Luftaufnahme_Heimenkirch_1_rdax_800x629.png');
}
.description__item--schongau {
  background-image: url('../Links/Luftaufnahme_Schongau_rdax_800x612.png');
}
.description__item--oberroighte {
  background-image: url('../Links/german-oberroighte.jpg');
}
.description__item--dieu-sur-maace {
  background-image: url('../Links/France_Dieue_plant_1800_rdax_800x600.jpg');
}
.description__item--barcelona {
  background-image: url('../Links/spain-barcelona.jpg');
}
.description__item--sigishoara {
  background-image: url('../Links/Romania_Sighisoara_aerial_image_1800_rdax_800x600.jpg');
}
.description__item--bucharest {
  background-image: url('../Links/Romania_Sighisoara_aerial_image_1800_rdax_800x600.jpg');
}
.description__item--sovata {
  background-image: url('../Links/Romania_Sighisoara_plant__image_1800_rdax_800x600.jpg');
}
.description__item--kazemej {
  background-image: url('../Links/Poland_Kazmierz_Aerial_image_1800_rdax_800x532.jpg');
}
.description__item--vengrov {
  background-image: url('../Links/poland-vengrov.jpg');
}
.description__item--moscow {
  background-image: url('../Links/Russland_Raos_aerial_image_1800_rdax_800x600.jpg');
}
.description__item--prohorovka {
  background-image: url('../Links/russia-prohorovka.jpg');
  background-position: -20px -10px;
}
.description__item--kasa-grande {
  background-image: url('../Links/arizona.jpg');
}
.description__item--enosbourg {
  background-image: url('../Links/vermont.jpg');
}
.description__item--hartland {
  background-image: url('../Links/viskonsin.jpg');
}
.description__item--linkoln-park {
  background-image: url('../Links/new_jersy.jpg');
  background-position: -85px 0;
}
.description__item--beach {
  background-image: url('../Links/vermont.jpg');
}
.description__item--melbourn {
  background-image: url('../Links/melbrun.jpg');
  background-position: -20px 0;
}
.description__item--melbourn .description__title::after {
  background-image: url('../img/flag-australia.jpg');
}
.description__pic {
  height: 150px;
  float: left;
  position: relative;
  z-index: 2;
}
.description__title {
  font-size: 13px;
  line-height: 15px;
  font-weight: 100;
  text-align: left;
  padding-left: 50px;
  padding-top: 6px;
  padding-bottom: 6px;
  background-color: #4C6C9C;
  color: #fff;
  position: relative;
  z-index: 1;
}
.description__title::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 41px;
  height: 26px;
  background-size: contain;
  background-position: 0 0;
  background-repeat: no-repeat;
}
.description__content {
  max-height: 152px;
  margin-left: 160px;
}
.description__title--german::before {
  background-image: url(../img/flag-german.jpg);
}
.description__title--france::before {
  background-image: url(../img/flag-france.svg);
}
.description__title--spain::before {
  background-image: url(../img/flag-spain-04.svg);
}
.description__title--romania::before {
  background-image: url(../img/flag-romania-05.svg);
}
.description__title--poland::before {
  background-image: url(../img/flag-poland-06.svg);
}
.description__title--russia::before {
  background-image: url(../img/flag-russia.svg);
}
.description__title--america::before {
  background-image: url(../img/flag-USA-02.jpg);
}
.description__title--australia::before {
  background-image: url(../img/flag-australia.jpg);
}
.description__subtitle {
  font-size: 13px;
  text-align: left;
  padding-left: 35px;
  display: block;
  background-color: #fff;
  position: relative;
  padding-top: 42px;
  padding-bottom: 52px;
}
@font-face {
  font-family: Open Sans;
  font-weight: 100;
  font-style: normal;
  src: url('../Fonts/OpenSans-Light.woff') format('woff'), url('../Fonts/OpenSans-Light.woff2') format('woff2');
}
@font-face {
  font-family: Open Sans Regular;
  font-weight: normal;
  font-style: normal;
  src: url('../Fonts/OpenSans.woff') format('woff'), url('../Fonts/OpenSans-Regular.woff2') format('woff2');
}
